# macOS-specific files and directories
.DS_Store
.Trash/
Library/
Applications/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Movies/
Public/

# Jupyter-specific
.ipynb_checkpoints/

# Development tools and cache
.vscode/
.conda/
.cache/

# Logs
*.log
