# Machine learning and image processing
tensorflow==2.12.0
opencv-python==4.7.0.72
numpy==1.23.5
matplotlib==3.7.1

# Web app framework
Flask==2.3.2  # If you choose to use Flask


# For handling images in the web app
Pillow==9.5.0

# Additional dependencies
gunicorn==20.1.0  # For deploying the app in production environments
